@charset "UTF-8";

body {
    background-image: url("../Links/背景.jpg");
    background-repeat: repeat;
    background-color: rgba(255,250,240,0.6);
    background-blend-mode: soft-light;
}

/* Loading背景画面設定　*/
/* #splash {
    fixedで全面に固定
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      background:#fff8e8;
      text-align:center;
      color:#fffaf0;
    } */
    
    /* Loading画像中央配置　*/
    /* #splash_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } */

    /* Loading アイコンの大きさ設定　*/
    /* #splash_logo img {
        width:150px;
    } */
  
    /* fadeUpをするアイコンの動き */
    /* .fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    } */
  
  /* @keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }     */

/* ヘッダー */

header {
    position: relative;
}

.header_top .header_wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3% 4% 3%;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.pc_nav ul{
    display: flex;
    gap: 30px;
}

.pc_nav ul li {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: transparent;
    background: linear-gradient(to right, #cc0000 50%, #3f2828 50%) 100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.5s;
}

.pc_nav ul li:hover {
    background-position: 0 100%;
  }

/* トップ */

#top {
    display: flex;
    height: 100vh;
    align-items: center;
}

.mizuhiki {
    position: relative;
    height: 100%;
    left: 10%;
  }

.mizuhiki div {
    height: 100%;
    width: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#top .mizuhiki div {
    height: 0;
    animation: throughLine 2s forwards;
}

@keyframes throughLine {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.mizuhiki span {
    display: block;
    height: 100%;
    width: 3px;
    background-color: #cc0000;
    position: relative;
    left: 6px;
}

.mizuhiki span::before,
.mizuhiki span::after {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    background-color: #cc0000;
    position: absolute;
}

.mizuhiki span::before {
    left: -6px;
}

.mizuhiki span::after {
    left: 6px;
}

.flower {
    width: 200px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.catch {
    font-size: 50px;
    letter-spacing: 0.08em;
    padding-left: 19%;
}

.sp_br {
    display: none;
}

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
	0% {opacity:0;}
	100% {opacity:1;}
}

/* 制作事例 */

#works {
    background-color: #fff8e8;
    height: 660px;
    position: relative;
}

.works_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
    padding-top: 137px;
  }  

  .mizuhiki_works,
  .mizuhiki_profile,
  .mizuhiki_skill,
  .mizuhiki_contact {
    height: 100%;
    position: absolute;
    left: 10%;
    width: 200px;
  }

  .mizuhiki_works .mizuhiki,
  .mizuhiki_profile .mizuhiki,
  .mizuhiki_skill .mizuhiki,
  .mizuhiki_contact .mizuhiki {
    left: 0;
  }

  .mizuhiki_works h1,
  .mizuhiki_profile h1,
  .mizuhiki_skill h1,
  .mizuhiki_contact h1 {
    position: absolute;
    left: 50%;
    top: 103px;
    transform: translateX(-50%);
    margin-left: 0;
    background: #fff8e8;
    padding: 20px 0;
  }

  .mizuhiki_profile h1,
  .mizuhiki_contact h1 {
    position: absolute;
    left: 50%;
    top: 103px;
    transform: translateX(-50%);
    margin-left: 0;
    background: #fffaf0;
    padding: 20px 0;
  }

h1 {
    writing-mode: vertical-rl;
    color: #cc0000;
    font-size: 30px;
    margin-left: 5%;
    padding-top: 103px;
}

.works_group {
    display: flex;
}

.works_item {
    box-sizing: border-box;
}

.works_item:hover {
    opacity: 0.6; 
    transition: 0.5s;
}

.slick-slide {
    height: 200px;
}

.slick-slide img {
    height: 100%;
}

.slick-slide a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slick-dots {
    top: 0;
    width: fit-content;
}

.slick-dots li.slick-active button:before,
.slick-dots li button::before {
    color: #c8b284;
}

.slick_nav {
    position: relative;
    width: 240px;
    height: 30px;
    margin: 0 auto;
    top: 50px;
}

.works_arrow_left {
    width: 50px;
    height: 7px;
    border-bottom: 1px solid #c8b284;
    border-left: 1px solid #c8b284;
    transform: translate(-100%, -50%) skew(125deg);
    position: absolute;
    left: -7%;
    top: 50%;
}

.works_arrow_left:hover {
    border-bottom: 2px solid #c8b284;
    border-left: 2px solid #c8b284;
}

.works_arrow_right {
    width: 50px;
    height: 7px;
    border-bottom: 1px solid #c8b284;
    border-right: 1px solid #c8b284;
    transform: translateY(-50%) skew(-125deg);
    position: absolute;
    left: 107%;
    top: 50%;
}

.works_arrow_right:hover {
    border-bottom: 2px solid #c8b284;
    border-right: 2px solid #c8b284;
}

.button {
    width: 200px;
    height: 42px;
    background-color: #e24242;
    border-radius: 21px;
    margin: 0 auto;
    border: none;
}

.button:hover {
    background-color: #c8b284;
    transition: 0.5s;
}

.more.letter-space:hover {
    letter-spacing: 0.2em;
  }

.works_button {
    margin-top: 160px;
}

.more {
    text-align: center;
    color: #fffaf0;
    font-size: 17px;
    letter-spacing: 0.1em;
    padding-top: 6px;
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

/* わたしのこと */

#profile {
    height: 726px;
}

.profile_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
}

.profile_contents {
    display: flex;
    justify-content: center;
    gap: 76px;
  }

.photo {
    padding-top: 161px;
}

.profile_block {
    padding-top: 222px;
}
  
.name {
    font-size: 20px;
    margin-bottom: 25px;
}

.profile_text {
    margin-top: 23px;
    margin-bottom: 144px;
}

/* できること */

#skill {
    background-color: #fff8e8;
    height: 600px;
    position: relative;
}

.skill_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
    padding-top: 150px;
}

.skill_contents {
    display: flex;
    justify-content: center;
    gap: 130px;
  }

.design {
    width: 30%;
    text-align: center;
    display: block;
}

.coding {
    width: 30%;
    text-align: center;
    display: block;
}

.skill_contents img {
    width: 125px;
}

.skill_contents_label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 33px;
}

.skill_text {
    margin-bottom: 35px;
}

.tool_group {
    display: flex;
    justify-content: center;
}

.tool {
    border: solid #3f2828;
    border-radius: 4px;
    width: 95px;
    height: 26px;
}

.tool_name {
    padding-top: 2px;
    padding-left: 19px;
}

/* お問い合わせ */

#contact {
    position: relative;
    padding-bottom: 100px;
}

.contact_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
  }

  .contact_contents {
    text-align: center;
  }

.ribbon {
    width: 200px;
    padding-top: 140px;
}

.contact_text {
    margin: 53px 0;
}

.contact_input_wrap {
    
    max-width: 600px;
    margin: 0 auto;
}

.contact_input {
    margin-bottom: 25px;
}

.contact_input p {
    text-align: left;
    padding-left: 7px;
}

.contact_input input {
    background-color: #efeae1;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
    border: none;
    box-sizing: border-box;
}

.contact_input textarea {
    background-color: #efeae1;
    height: 200px;
    width: 100%;
    margin-bottom: 75px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    border: none;
    box-sizing: border-box;
}

.contact_input input::placeholder,
.contact_input textarea::placeholder {
    color: #c1bcb4;
    line-height: 2.18px;
}

.button_more {
    padding-top: 0px;
}

/* フッター */

footer {
    background-color: #c8b284;
    height: 280px;
}

.footer_pc_nav ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 85px;
}

.footer_pc_nav ul li {
    font-size: 14px;
    color: #fffaf0;
    text-decoration: none;
    color: transparent;
    background: linear-gradient(to right, #e24242 50%, #fffaf0 50%) 100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.5s;
}

.footer_pc_nav ul li:hover {
    background-position: 0 100%;
  }

.footer_copy p {
    font-size: 13px;
    color: #fffaf0;
    text-align: center;
}

.return {
    position: fixed;
    width: 120px;
    right: 80px;
    bottom: 40px;
    fill: #cc0000;
    transition: 0.5s;
}

.return.in_footer {
    fill: #fffaf0;
}

.return:hover {
    opacity: 0.6; 
    transition: 0.5s;
}

/* スライダー 制作事例 */

.slick-next {
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    right: 20%;
}

.slick-next::before,
.slick-prev::before {
    content: "";
}

.slick-prev {
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(225deg);
    left: 20%;
    z-index: 100;
}

.works_group img {
    transform: scale(.8);
    transition: transform .3s;
  }
  .works_group .slick-center img {
    transform: scale(1);
  }

/* works.html */

.background_flower {
    position: relative;
    padding-bottom: 100px;
}

.title {
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.background_flower img {
    width: 100%;
    padding-top: 80px;
}

.label_banner {
    padding-top: 50px;
}

.label {
    font-size: 21px;
    letter-spacing: 0.1em;
    padding-left: 12%;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.label::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: #c8b284;
}

.website_group {
    max-width: 1062px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.website_group div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.website_group img {
    width: 480px;
}

.website_group p,
.banner_group p {
    padding-top: 20px;
}

.banner_group {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner_group div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.banner_group img {
    width: 197px;
}

.website_group img,
.banner_group img {
    text-align: center;
}

.website_group img,
.banner_group img {
    transition-property: opacity;
    transition-duration: 0.5s;
  }
.website_group img:hover,
.banner_group img:hover {
    opacity: 0.6; 
  }

/* profile.html */

.profile_top {
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.profile_top img {
    padding-top: 30px;
    padding-bottom: 45px;
    margin: 0 auto;
}

.profile_top_text_pc {
    display: block;
    padding-top: 34px;
    padding-bottom: 99px;
}

.profile_top_text_sp {
    display: none;
}

/* すきなこと */

.like {
    height: auto;
    background-color: #fff8e8;
}

h3 {
    color: #cc0000;
    font-size: 22px;
    text-align: center;
    padding-top: 83px;
}

.like_wrap {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    padding-top: 63px;
    padding-bottom: 50px;
}

.tree_wrap,.hana_wrap,.coffee_wrap {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree_wrap div,.hana_wrap div,.coffee_wrap div {
    height: 137px;
    display: flex;
    align-items: center;
}

.tree {
    width: 120px;
}

.hana {
    width: 142px;
}

.coffee {
    width: 130px;
}

.like_title {
    padding-top: 10px;
    padding-bottom: 40px;
}

/* 経歴 */

.career {
    height: auto;
    max-width: 813px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.timeline {
    list-style: none;
    padding-top: 67px;
  }
  .timeline > li {
    margin-bottom: 60px;
  } 

  .timeline li:first-child::before {
    content: "";
    display: block;
    width: 3px;
    height: 10px;
    background-color: #cc0000;
    position: absolute;
    border-radius: 9999px;
    top: -1px;
  }
  
    .timeline > li {
      margin: 0;
      position: relative;
    }
   
    .career_content {
      border-left: 3px #cc0000 solid;
      display: flex;
      gap: 35px;
      padding-left: 60px;
    }
    .career_content:before {
      content: '';
      width: 15px;
      height: 15px;
      background: #cc0000;
      position: absolute;
      left: -6px;
      top: 8px;
      border-radius: 100%;
    }

  .career_arrow {
    width: 3px;
    height: 20px;
    background-color: #cc0000;
    position: relative;
    display: inline-block;
    border-radius: 0 0 9999px 9999px;
}
.career_arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 1.5px);
    width: 3px;
    height: 20px;
    border-radius: 9999px;
    background-color: #cc0000;
    transform: rotate(-45deg);
    transform-origin: 50% calc(100% - 1.5px);
  }

.career_year {
    width: 61.25px;
}

.career_text {
    padding-bottom: 25px;
}


/* ３つの強み */

.strengths {
    height: auto;
    background-color: #fff8e8;
    padding-bottom: 50px;
}

.strengths_wrap {
    max-width: 850px;
    display: flex;
    justify-content: center;
    gap: 55px;
    padding-top: 74px;
    margin: 0 auto;
}

.one,.two,.three {
    background-color: #ffedcc;
    width: 275px;
    height: 360px;
    border-radius: 28px;
    position: relative;
}

.number {
    font-size: 42px;
    color: #c8b284;
    text-align: center;
    top: -10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.power {
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

.strengths_text {
    width: 200px;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
}

/* 大切にしたいこと */

.motto {
    height: auto;
}

.motto_wrap {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 62px;
    padding-top: 89px;
    padding-bottom: 100px;
}

.motto_flower {
    width: 100px;
}

.motto p {
    width: 665px;
}

/* contact.html */

.thanks_page {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.thanks {
    font-size: 40px;
    letter-spacing: 0.2em;
    padding-top: 200px;
    padding-bottom: 45px;
}

.thanks_page > div {
    position: relative;
    margin-bottom: 86px;
} 

.thanks_page img {
    width: 549px;
    padding-bottom: 70px;
}

.thanks_text {
    letter-spacing: 0.05em;
    padding-bottom: 127px;
}

.thanks_return {
    font-size: 18px;
    
}

.thanks_return_wrap:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
}

.arrow {
    width: 122px;
    height: 7px;
    border-bottom: 2px solid #c8b284;
    border-left: 2px solid #c8b284;
    transform: translateX(-50%) skew(125deg);
    margin-bottom: 86px;
    position: absolute;
    left: 50%;
}

/* works_LIFEhairdesign.html */

.works_title {
    font-size: 22px;
    text-align: center;
}

.works_title_sub {
    font-size: 18px;
}

.explain {
    display: flex;
    justify-content: center;
    gap: 92px;
    padding-top: 110px;
}

.explain img {
    height: 285px;
}

.explain_wrap {
    width: 523px;
}

.explain_item {
    display: flex;
    border-bottom: 1px solid #3f2828;
    padding: 15px 7px;
}

.explain_label {
    width: 18%;
    padding-right: 20px;
}

.explain_detail {
    width: 80%;
}

.explain_text {
    width: 500px;
    padding-top: 27px;
    padding-left: 2%;
}

.explain_picture {
    display: flex;
    justify-content: center;
    gap: 5%;
}

/* それぞれの画像サイズ調整 */

.picture_pc {
    width: 550px;
    background-color: #fff8e8;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_sp {
    width: 350px;
    background-color: #fff8e8;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_koukyuukann {
    width: 622px;
    background-color: #fff8e8;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_pop {
    width: 500px;
    background-color: #fff8e8;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_springsale {
    width: 622px;
    background-color: #fff8e8;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_trrrrip {
    width: 500px;
    background-color: #fff8e8;
    padding: 25px;
    margin: 142px auto;
    display: block;
}


/* スマホ版メニュー */


/* 1100px以下 */

.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        /* 位置の調整 */
        position: fixed;
        top: 21px;
        right: 25px;
        /* 重なり具合 */
        z-index: 2;
    }

    .sp_nav.panelactive{
        top: 0;
    }

    .sp_btn span {
        display: block;
        width: 30px;
        height: 3px;
        background: #cc0000;
        border-radius: 2px;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background: #cc0000;
        border-radius: 2px;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ばつ印 */

    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* メニューの見た目 */

    .sp_nav {
        position:fixed;
        top:-120%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fcf3e3;
        /* 重なり具合 */
        z-index: 1;
        transition: all 0.6s;
        display: block;
    }

    .background_flower_sp_nav {
        position: relative;
        padding-top: 50px;
    } 

    .sp_nav .title:hover {
        opacity: 0.6; 
        transition: 0.5s;
    }
    
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 50px;
        letter-spacing: 0.1em;
        padding-top: 50px;
    }
    
    .sp_nav ul li {
        color: #3f2828;
        font-size: 14px;
        text-decoration: none;
        color: transparent;
        background: linear-gradient(to right, #cc0000 50%, #3f2828 50%) 100%;
        background-clip: text;
        background-size: 200% 100%;
        transition: background-position 0.5s;
    }

    .sp_nav ul li:hover {
        background-position: 0 100%;
      }

    /* トップ */

    .mizuhiki span {
        display: block;
        height: 100%;
        width: 3px;
        background-color: #cc0000;
        position: relative;
        left: 6px;
    }

    .flower {
        width: 150px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    #top .mizuhiki {
        width: 16%;
    }

    #top .mizuhiki div {
        top: 65px;
    }

    .mizuhiki_works,
    .mizuhiki_profile,
    .mizuhiki_skill,
    .mizuhiki_contact {
        width: 16%;
    }

    .works_wrap,
    .profile_wrap,
    .skill_wrap,
    .contact_wrap {
        width: 70%;
        margin-left: auto;
    }

    .catch {
        font-size: 40px;
        letter-spacing: 0.08em;
    }

    /* わたしのこと */

    .profile_wrap {
        margin: 0 25%;
    }

    .photo {
        padding-top: 150px;
        width: 60%;
        text-align: center;
    }

    .profile_block {
        padding-top: 180px;
    }

    /* できること */

    .skill_contents {
        display: block;
        margin: 0 auto;
      }

    #skill {
        height: 780px;
    }
    
    .skill_wrap {
        padding-top: 65px;
    }

    .design {
        width: 90%;
        text-align: center;
        display: block;
    }
    
    .coding {
        width: 90%;
        text-align: center;
        display: block;
    }    
    
    .skill_contents img {
        width: 115px;
    }
    
    .skill_contents_label {
        font-size: 16px;
        margin-top: 28px;
        margin-bottom: 32px;
    }
    
    .skill_text {
        font-size: 14px;
        margin-bottom: 32px;
    }
    
    .tool {
        font-size: 12px;
        width: 80px;
        height: 20px;
    }
    
    .tool_name {
        font-size: 14px;
        margin-bottom: 50px;
    }
    
    
    /* お問い合わせ */

    .contact_input_wrap {
        max-width: 400px;
        margin: 0 auto;
    }

    /* works.html */

    .background_flower img {
        padding-top: 12%;
    }

    .title {
        font-size: 28px;
        padding-top: 17%;
    }


    .website_group img {
        width: 350px;
    }

    .banner_group img {
        width: 160px;
    }


    /* profile.html */

    .like_wrap {
        max-width: 600px;
    }

    .career {
        max-width: 600px;
        margin: 0 auto;
    }

    .strengths_wrap {
        gap: 40px;
    }

    .one, .two, .three {
        width: 28%;
    }

    .motto_wrap {
        max-width: 600px;
    }
    
    /* contact.html */

    /* works_LIFEhairdesign.html */

    
    .explain {
        width: 90%;
        margin: 0 auto;
        gap: 5%;
        padding-top: 70px;
    }

    .explain P {
        font-size: 15px;
    }

    .explain img {
        height: 180px;
    }

    .explain_wrap {
        width: 400px;
    }

    .explain_label {
        width: 20%;
    }

    .explain_text {
        width: 98%;
    }

    /* それぞれの画像サイズ調整 */

    .explain_picture {
        display: block;
    }

    .explain .mock-up_banner {
        height: 280px;
    }
}

/* 767px以下 */

@media screen and (max-width: 767px) {

    main p {
        font-size: 14px;
    }

    /* トップ */

    .top {
        height: 640px;
    }

    .logo {
        font-size: 16px;
        padding-top: 10px;
    }

    .flower {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .catch {
        font-size: 30px;
        letter-spacing: 0.08em;
        padding-left: 19%;
    }

    .sp_br {
        display: block;
    }

    /* 制作事例 */

    #works {
        height: 530px;
    }
    .mizuhiki_works h1,
    .mizuhiki_profile h1,
    .mizuhiki_skill h1,
    .mizuhiki_contact h1 {
        position: absolute;
        left: 50%;
        top: 103px;
        transform: translateX(-50%);
        margin-left: 0;
        background: #fff8e8;
        padding: 20px 0;
    }

    .mizuhiki_profile h1,
    .mizuhiki_contact h1 {
        position: absolute;
        left: 50%;
        top: 103px;
        transform: translateX(-50%);
        margin-left: 0;
        background: #fffaf0;
        padding: 20px 0;
    }

    h1 {
        font-size: 17px;
    }

    .works_wrap {
        padding-top: 58px;
    }

    .button {
        width: 140px;
        height: 29px;
    }

    .works_button {
        margin-top: 125px;
    }

    .more {
        font-size: 14px;
        padding-top: 3px;
    }

    /* わたしのこと */

    #profile {
        height: 683px;
    }

    .profile_contents {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .photo {
        width: 228px;
        padding-top: 73px;
    }

    .profile_block {
        padding-top: 35px;
    }

    .name {
        font-size: 16px;
    }

    .profile_text {
        margin-bottom: 55px;
    }

    /* できること */

    #skill {
        height: 780px;
    }

    .skill_wrap {
        padding-top: 65px;
    }

    .skill_contents img {
        width: 115px;
    }

    .skill_contents_label {
        font-size: 16px;
        margin-top: 28px;
        margin-bottom: 32px;
    }

    .skill_text {
        margin-bottom: 32px;
    }

    .tool {
        font-size: 12px;
    }

    .tool_name {
        margin-bottom: 50px;
    }

    /* お問い合わせ */

    .ribbon {
        width: 150px;
        padding-top: 75px;
    }

    .contact_input_wrap {
        max-width: 300px;
        margin: 0 auto;
    }

    .button_more {
        padding-top: 0px;
    }

    /* フッター */

    footer {
        height: 340px;
    }

    .footer_pc_nav ul {
        display: block;
        text-align: center;
        padding: 0;
    }

    .footer_pc_nav ul li {
        font-size: 13px;
        padding-top: 45px;
    }

    .footer_copy {
        padding-top: 45px;
    }

    /* works.html */

    .background_flower {
        padding-bottom: 70px;
    }

    .background_flower img {
        padding-top: 12%;
    }

    .title {
        font-size: 18px;
        padding-top: 17%;
    }

    .label {
        font-size: 15px;
    }

    .website_group,
    .banner_group  {
        display: block;
    }

    .website_group div,
    .banner_group div {
        width: 100%;
    }

    /* profile.html */

    .profile_top img {
        padding-top: 0px;
    }

    .profile_top_name {
        font-size: 15px;
        letter-spacing: 0.15em;
    }

    .profile_top_text_pc {
        display: none;
    }
    
    .profile_top_text_sp {
        display: block;
        margin: 0 auto;
        margin-top: 23px;
        margin-bottom: 50px;
        text-align: left;
        letter-spacing: 0.05em;
        position:relative;
    }

    .profile_top_text_sp::before {
        content:"";
        display:block;
        width:2px;
        height:80px;
        background-color:#c8b284;
        border-radius: 2px;
        position:absolute;
        top:0;
        left:-15px;
    }

    .like {
        height: auto;
    }

    h3 {
        font-size: 16px;
        padding-top: 60px;
    }

    .like_wrap {
        display: block;
        padding-top: 0;
        padding-bottom: 70px;
    }

    .like_title {
        font-size: 16px;
    }

    .tree_wrap,
    .hana_wrap,
    .coffee_wrap {
        width: 80%;
        margin: 0 auto;
        padding-top: 63px;
    }

    .career {
        height: auto;
        max-width: 400px;
        margin: 0 auto;
    }

    .career_text {
        width: 300px;
    }

    .strengths_wrap {
        width: 80%;
        display: block;
    }

    .one, .two, .three {
        width: 295px;
        height: 282px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .number {
        font-size: 35px;
    }

    .power {
        font-size: 18px;
    }

    .motto_wrap {
        display: block;
        width: 80%;
        padding-top: 50px;
        padding-bottom: 80px;
        text-align: center;
    }

    .motto_flower {
        width: 80px;
    }

    .motto_wrap p {
        width: 295px;
        margin: 0 auto;
        padding-top: 50px;
        text-align: left;
    }

    /* contact.html */

    .thanks {
        font-size: 20px;
        padding-top: 130px;
        padding-bottom: 45px;
    }

    .thanks_page img {
        width: 350px;
        padding-bottom: 50px;
    }

    .thanks_text {
        padding-bottom: 100px;
    }

    .thanks_return {
        font-size: 15px;
    }

    .arrow {
        width: 100px;
    }

    /* works_LIFEhairdesign.html */

    .works_title {
        font-size: 16px;
    }

    .explain {
        flex-direction: column;
        gap: 0;
        align-items: center;
        width: 80%;
        padding-top: 70px;
    }

    .explain P {
        font-size: 14px;
    }

    .explain img {
        height: 80%;
        text-align: center;
    }

    .explain_wrap {
        width: 90%;
        margin:0 auto;
        padding-top: 50px;
    }

    .explain_label {
        width: 90px;
    }

    /* .explain_detail {
        width: auto;
    } */

    .explain_text {
        width: auto;
        padding-right: 2%;
    }

    .picture_pc {
        width: 74%;
        padding: 3%;
        margin: 70px auto;
    }

     /* それぞれの画像サイズ調整 */

     .picture_sp {
        width: 70%;
        padding: 3%;
        margin: 70px auto;
    }

    .explain .mock-up_banner {
        height: 280px;
    }

    .picture_pop,
    .picture_koukyuukann,
    .picture_springsale,
    .picture_trrrrip {
        width: 74%;
        padding: 3%;
        margin: 70px auto;
    }
}