@charset "UTF-8";

body {
    background-image: url("./Links/背景.jpg");
    background-repeat: repeat;
    background-color: #fffaf0;
    background-blend-mode: soft-light;
}

/* ヘッダー */

header {
    position: relative;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3% 4% 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.pc_nav ul{
    display: flex;
    gap: 30px;
}

.pc_nav ul li {
    font-size: 14px;
    text-align: center;
}


/* トップ */

#top {
    display: flex;
    height: 100vh;
    align-items: center;
}
.mizuhiki {
    position: relative;
    height: 100%;
    left: 10%;
  }
.mizuhiki div {
    height: 100%;
    width: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mizuhiki span {
    display: block;
    height: 100%;
    width: 3px;
    background-color: #cc0000;
    position: relative;
    left: 6px;
}

.mizuhiki span::before,
.mizuhiki span::after {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    background-color: #cc0000;
    position: absolute;
}

.mizuhiki span::before {
    left: -6px;
}

.mizuhiki span::after {
    left: 6px;
}

.flower {
    width: 200px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.catch {
    font-size: 50px;
    letter-spacing: 0.08em;
    padding-left: 19%;
}

/* 制作事例 */

#works {
    background-color: #fff8e8;
    height: 660px;
    position: relative;
}

.works_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
    padding-top: 137px;
  }  

  .mizuhiki_works,
  .mizuhiki_profile,
  .mizuhiki_skill,
  .mizuhiki_contact {
    height: 100%;
    position: absolute;
    left: 10%;
    width: 200px;
  }

  .mizuhiki_works .mizuhiki,
  .mizuhiki_profile .mizuhiki,
  .mizuhiki_skill .mizuhiki,
  .mizuhiki_contact .mizuhiki {
    left: 0;
  }

  .mizuhiki_works h1,
  .mizuhiki_profile h1,
  .mizuhiki_skill h1,
  .mizuhiki_contact h1 {
    position: absolute;
    left: 50%;
    top: 103px;
    transform: translateX(-50%);
    margin-left: 0;
    background: #fff8e8;
    padding: 20px 0;
  }

  .mizuhiki_profile h1,
  .mizuhiki_contact h1 {
    position: absolute;
    left: 50%;
    top: 103px;
    transform: translateX(-50%);
    margin-left: 0;
    background: #fffaf0;
    padding: 20px 0;
  }

h1 {
    writing-mode: vertical-rl;
    color: #cc0000;
    font-size: 30px;
    margin-left: 5%;
    padding-top: 103px;
}

.works_group {
    display: flex;
}

.works_item {
    box-sizing: border-box;
}

.works_item:hover {
    opacity: 0.6; 
    transition: 0.5s;
}

.slick-slide {
    height: 200px;
}

.slick-slide img {
    height: 100%;
}

.slick-slide a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slick-dots {
    bottom: -87px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li.slick-active button:before,
.slick-dots li button::before {
    color: #c8b284;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.works_arrow_left {
    width: 95px;
    height: 7px;
    border-bottom: 1px solid #c8b284;
    border-left: 1px solid #c8b284;
    transform: translateX(-50%) skew(125deg);
    position: absolute;
    left: 33%;
    bottom: -80px;
}

.works_arrow_right {
    width: 95px;
    height: 7px;
    border-bottom: 1px solid #c8b284;
    border-right: 1px solid #c8b284;
    transform: translateX(-50%) skew(-125deg);
    position: absolute;
    right: 25%;
    bottom: -80px;
}

.button {
    width: 200px;
    height: 42px;
    background-color: #e24242;
    border-radius: 21px;
    margin: 0 auto;
}

.button:hover {
    background-color: #c8b284;
    transition: 0.5s;
}

.works_button {
    margin-top: 160px;
}

.more {
    text-align: center;
    color: #fffaf0;
    font-size: 17px;
    letter-spacing: 0.1em;
    padding-top: 6px;
}

/* わたしのこと */

#profile {
    height: 726px;
}

.profile_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
}

.profile_contents {
    display: flex;
    justify-content: center;
    gap: 76px;
  }

.photo {
    padding-top: 161px;
}

.profile_block {
    padding-top: 222px;
}
  
.name {
    font-size: 20px;
    margin-bottom: 25px;
}

.profile_text {
    margin-top: 23px;
    margin-bottom: 144px;
}

/* できること */

#skill {
    background-color: #fff8e8;
    height: 600px;
    position: relative;
}

.skill_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
    padding-top: 150px;
}

.skill_contents {
    display: flex;
    justify-content: center;
    gap: 130px;
  }

.design {
    width: 30%;
    text-align: center;
    display: block;
}

.coding {
    width: 30%;
    text-align: center;
    display: block;
}

.skill_contents img {
    width: 125px;
}

.skill_contents_label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 33px;
}

.skill_text {
    margin-bottom: 35px;
}

.tool_group {
    display: flex;
    justify-content: center;
}

.tool {
    border: solid #3f2828;
    border-radius: 4px;
    width: 95px;
    height: 26px;
}

.tool_name {
    padding-top: 2px;
    padding-left: 19px;
}

/* お問い合わせ */

#contact {
    height: 1190px;
    position: relative;
}

.contact_wrap {
    width: calc(90% - 200px);
    margin-left: auto;
  }

  .contact_contents {
    /* text-align: center;
    display: block; */
  }

.ribbon {
    width: 200px;
    padding-top: 140px;
}

.contact_text {
    margin: 53px 0;
}

.contact_input {
    margin-bottom: 25px;
}

.box {
    background-color: #efeae1;
    color: #c1bcb4;
    height: 42px;
    width: 600px;
    border-radius: 10px;
    padding-top: 13px;
    padding-left: 20px;
}

.box_large {
    background-color: #efeae1;
    color: #c1bcb4;
    height: 200px;
    width: 600px;
    margin-bottom: 75px;
    border-radius: 10px;
    padding-top: 13px;
    padding-left: 20px;
}

/* フッター */

footer {
    background-color: #c8b284;
    height: 280px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.footer_pc_nav ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 85px;
}

.footer_pc_nav ul li {
    font-size: 14px;
    color: #fffaf0;
}

.footer_copy p {
    font-size: 13px;
    color: #fffaf0;
    text-align: center;
}

.return {
    position: fixed;
    width: 120px;
    right: 80px;
    bottom: 40px;
}

/* スライダー 制作事例 */

.slick-next {
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    right: 20%;
}

.slick-next::before,
.slick-prev::before {
    content: "";
}

.slick-prev {
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(225deg);
    left: 20%;
    z-index: 100;
}

.works_group img {
    transform: scale(.8);
    transition: transform .3s;
  }
  .works_group.slick-center img {
    transform: scale(1);
  }

/* works.html */

.background_flower {
    position: relative;
    padding-bottom: 127px;
}

.title {
    font-size: 40px;
    text-align: center;
    padding-top: 222px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.background_flower img {
    width: 100%;
    padding-top: 149px;
}

.label_banner {
    padding-top: 50px;
}

.label {
    font-size: 21px;
    letter-spacing: 0.1em;
    padding-left: 12%;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.label::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: #c8b284;
}

.website_group {
    max-width: 1062px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.website_group div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.website_group img {
    width: 480px;
}

.website_group p,
.banner_group p {
    padding-top: 20px;
}

.banner_group {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner_group div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.banner_group img {
    width: 197px;
}

.website_group img,
.banner_group img {
    text-align: center;
}

.website_group img,
.banner_group img {
    transition-property: opacity;
    transition-duration: 0.5s;
  }
.website_group img:hover,
.banner_group img:hover {
    opacity: 0.6; 
  }

/* profile.html */

.profile_top {
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.profile_top img {
    padding-top: 30px;
    padding-bottom: 45px;
    margin: 0 auto;
}

.profile_top_text {
    padding-top: 34px;
    padding-bottom: 99px;
}

/* すきなこと */

.like {
    height: 720px;
    background-color: #fff8e8;
}

h3 {
    color: #cc0000;
    font-size: 22px;
    text-align: center;
    padding-top: 83px;
}

.like_wrap {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    padding-top: 63px;
}

.tree_wrap,.hana_wrap,.coffee_wrap {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree_wrap div,.hana_wrap div,.coffee_wrap div {
    height: 137px;
    display: flex;
    align-items: center;
}

.tree {
    width: 120px;
}

.hana {
    width: 142px;
}

.coffee {
    width: 130px;
}

.like_title {
    padding-top: 10px;
    padding-bottom: 40px;
}

/* 経歴 */

.career {
    height: 880px;
    max-width: 813px;
    margin: 0 auto;
}

.timeline {
    list-style: none;
    padding-top: 67px;
  }
  .timeline > li {
    margin-bottom: 60px;
  }
  
  /* for Desktop */
  @media ( min-width : 640px ){
    .timeline > li {
      margin: 0;
      position: relative;
    }
   
    .career_content {
      border-left: 3px #cc0000 solid;
      display: flex;
      gap: 47px;
      padding-left: 60px;
    }
    .career_content:before {
      content: '';
      width: 15px;
      height: 15px;
      background: #cc0000;
      position: absolute;
      left: -6px;
      top: 8px;
      border-radius: 100%;
    }
  }

  .career_arrow {
    width: 3px;
    height: 20px;
    background-color: #cc0000;
    position: relative;
    display: inline-block;
    border-radius: 0 0 9999px 9999px;
}
.career_arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 1.5px);
    width: 3px;
    height: 20px;
    border-radius: 9999px;
    background-color: #cc0000;
    transform: rotate(-45deg);
    transform-origin: 50% calc(100% - 1.5px);
  }

.career_year {
    width: 61.25px;
}

.career_text {
    padding-bottom: 30px;
}


/* ３つの強み */

.strengths {
    height: 645px;
    background-color: #fff8e8;
}

.strengths_wrap {
    max-width: 850px;
    display: flex;
    justify-content: center;
    gap: 55px;
    padding-top: 74px;
    margin: 0 auto;
}

.one,.two,.three {
    background-color: #ffedcc;
    width: 275px;
    height: 360px;
    border-radius: 28px;
    position: relative;
}

.number {
    font-size: 42px;
    color: #c8b284;
    text-align: center;
    top: -10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.power {
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

.strengths_text {
    width: 200px;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
}

/* 大切にしたいこと */

.motto {
    height: 523px;
}

.motto_wrap {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 62px;
    padding-top: 89px;
}

.motto_flower {
    width: 100px;
}

.motto p {
    width: 665px;
}

/* contact.html */

.thanks_page {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.thanks {
    font-size: 40px;
    letter-spacing: 0.2em;
    padding-top: 280px;
    padding-bottom: 45px;
}

.thanks_page > div {
    position: relative;
    margin-bottom: 86px;
} 

.thanks_page img {
    width: 549px;
    padding-bottom: 70px;
}

.thanks_text {
    letter-spacing: 0.05em;
    padding-bottom: 127px;
}

.thanks_return {
    font-size: 18px;
    
}

.thanks_return_wrap:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
}

.arrow {
    width: 122px;
    height: 7px;
    border-bottom: 2px solid #c8b284;
    border-left: 2px solid #c8b284;
    transform: translateX(-50%) skew(125deg);
    margin-bottom: 86px;
    position: absolute;
    left: 50%;
}

/* works_LIFEhairdesign.html */

.works_title {
    font-size: 22px;
    text-align: center;
}

.works_title_sub {
    font-size: 18px;
}

.explain {
    display: flex;
    justify-content: center;
    gap: 92px;
    padding-top: 134px;
}

.explain img {
    height: 285px;
}

.explain_wrap {
    width: 523px;
}

.explain_item {
    display: flex;
    border-bottom: 1px solid #3f2828;
    padding: 15px 7px;
}

.textspace {
    padding-right: 57px;
}

.explain_text {
    width: 500px;
    padding-top: 27px;
    padding-left: 2%;
}

.explain_picture {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.picture_pc {
    width: 550px;
    background-color: #f9ebcd;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_sp {
    width: 350px;
    background-color: #f9ebcd;
    padding: 25px;
    margin: 142px auto;
    display: block;
}

.picture_koukyuukann {
    width: 622px;
    background-color: #f9ebcd;
    padding: 25px;
    margin: 142px auto;
    display: block;
}